body{
    font-family: helvetica,sans-serif;
    background-attachment: url(../img/palito.png) scroll;
    //background: url(../img/palito.png) fixed no-repeat;
    //background-position: center center; 
    //background-size:cover;
    padding-top:0px;
    padding-bottom:0px;
    margin:0;
    //margin-top: 160px;
    font-size: 62.5%;
 }

.geral{
   max-width: 1349px;
   min-height: 417px;
   padding-left: 1.48258%;  /* 1.48258% 20px / 1349px */
   padding-right: 1.48258%; /* 20px / 1349px */
   padding-top: 0.07412898%; /* 1px / 1349px */
   padding-bottom: 0.7412898%; /* 10px / 1349px */
   font-size: 1.3em;
   margin: auto;
 } 

/* ----- Header -------*/
#header{
  height: 125px;
  background-color: #6495ED;
  border-bottom:3px solid #B0E0E6;
  position: relative;
  min-width: 100%;
}
#headertable{
  width: 96.36768%; /* 1300px / 1349px */
  height: 90px;
  padding-right:0px;
 }
#headernav{
  //width: 740px;
  margin: auto;
  background-color: #6495ED;
  padding-right:0px;
}
#headernav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 70px;
}
#headernav ul li a{
  font-size: 1.4em;
  color: white;
  text-decoration: none;
}
#headernav ul li a:hover{
  color: #B0E0E6;
}

/*-------- Footer ----------*/
#footer{
  height: 98px;
  margin: auto;
  background-color: #6495ED;
  border-top:3px solid #B0E0E6;
  position: absolute;
  min-width: 100%;
 }
#footernav{
  width: 100%; /*1050px / 1128px */
  margin: auto;
  background-color: #6495ED;
  padding-right:0px;
}

footer nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 70px;
    //margin-top:21px;
}
footer nav ul li a{
  font-size: 1.4em;
  color: white;
  text-decoration: none;
}
footer nav ul li a:hover{
  color: #B0E0E6;
}
/* ------------------------------- */


/* Utilizado em mensagem.php: caixa de msgs; */
#mens-group{
    text-align: justify;
}

.mens{
    text-decoration: none;
    color: #000;
}
.mens-itself{
    border: ridge;
    text-align:left;
    margin-left: 5px;
    margin-right: 5px;
}
.mens-itself:hover{
    background-color: aliceblue;
}
/* ----------------------------------- */

/*--------------------- Divs --------------------------------- */
/* --- Div utilizada na pag. Pet nos botoes */
#escond{
    text-align: center;
    color:#20B2AA;
}
/* ---------------------------- */


/* utilizada dentro da div geral: Pag. pet, index, cadastro, contato, quem somos, perguntas,galeria,acordo */
  .conteudo{
  width: 88.954781%; /* 1200px / 1349px 97.25722758 1312px / 1349px */
  margin: auto; 
  padding-left: 1.52439%; /* 20px 3.429878% 45 / 1312 */
  //border: 1px solid red;
  }

 /* ----------------------- */

/* --- 2 divs utilizadas lado a lado nas Pag. Pet,  Galeria , index, cadastro, contato, quem somos*/
.divdir{
  max-width: 45.73170732%; /*  42.25321% 570px / 1312px */
  float: right;
  margin-right: 2.286585%; /* 30px / 1312px */
  padding-right: 2.286585%;
  }
.divesq{
  max-width:  45.73170732%;/* 42.25321%; 570px / 1312px */
  float: left;
  margin-left: 2.286585%;/*  30px / 1312px */
} 
.divesq:last-child {
    margin-right: 0;
}

/* ----------------------- */


/* ---- Div Verificacao de dados do login*/
#hidden{
  color:#8b0000;font-size:1.2em;font-weight:bold;
}
/* ------------------------------------- */

/* ---- Div com conteudo do login*/

/* ------------------------------------- */

/* ---- Divs com os botoes e da a img da pag. index*/
 .divdoar{
  margin-top: 10%;
  padding-right: 20%; /*55 / 1312 */
  float: right;
  }
.divhome{
  margin-top: 6%;
  float: left;
  padding-left: 20%;
 }
/* ----------------- Fim Divs --------------------------- */

/* ---------Fonte  e lables----------*/

/* utilizado na label do paragrafo de msg ao usuario na pag. Pet*/
.aviso{
  color:#DC143C;
  font-size: 1.5em;
  line-height: 140%;
}
/* utilizado na label de aviso pet adotado pag. perfil*/
#cor{
  color:black;
  font-size:1.2em;
}

/* utilizado nos radios buttons de forms pags. cadastro, galeria*/
.cor{
  color:black;
  font-size:1.3em;
}

label.pets{ /* na tabela dos dados dos pets na pag. pet */
  color:#778899;
}
label.asterisco{ /* cadastro */
  font-weight:bold;font-size:1.8em;color: #708090;
}
label.campos{ /* em todos os forms */
  color:#708090;padding: 10px 19px;font-size: 1.3em;
}
label.campos2{ /* pag. perfil*/
  color:black;padding: 10px 19px;font-size: 1.3em;
}
label.campos3{ /* pag. perfil */
  color:#1E90FF;padding: 10px 19px;font-size: 1.3em;
}
 
/* Utilizada na pag. ver_mensagem e pet*/
.dois{
    text-align: justify;
    color: #DC143C;
    letter-spacing: 1px;
    font-size: 0.83em;
    line-height: 120%;
}
 /* label usada no outras informacoes cadastro  */
 label.info{
   font-size:1.0em;color:#808080;padding: 10px 19px;
}
/*cor fonte input  */
#corInput{
   color:black;
}
/* ------------Fim Fonte  e lables ------------- */

/* formulario da pag. login */
#login{
  //width:400px;
  height:85px;
  //margin:auto;
}
/*------------------------*/

/* ------------------------ Botoes --------------------------------*/

/* pag index  quero adotar / quero doar */
#doar{
    border-radius:1px;
    font-weight:bold;
    height: 50px; 
    width:270px;
    font-size:2.2em;
    text-align: center;
    background-color: #5953DD;
    border: 0px solid #FFFFFF;
    margin: 4px 2px;
    color: white;
    display: inline-block;
    cursor: pointer;
} 
#doar:active {
   box-shadow: 0 6px;
   transform: translateY(10px);
}
#doar:hover{
    color:black;
    transform:rotatey(11deg);
    transition-duration:0.4s;
    background-color: white;
    border: 2px solid #5953DD;
}
#adotar{
    border-radius:1px;
    font-weight:bold;
    height: 50px; 
    width:270px;
    font-size:2.2em;
    text-align: center;
    background-color: #18B01C;
    border: 0px solid #FFFFFF;
    margin: 4px 2px;
    color: white;
    display: inline-block;
    cursor: pointer;
}
 
#adotar:active {
   box-shadow: 0 6px;
   transform: translateY(11px);
}
#adotar:hover{
    color:black;
    transform:rotatey(11deg);
    transition-duration:0.4s;
    background-color: white;
    border: 2px solid #18B01C; 
}

 /* pags. cadastro, form_recuperar_senha*/
 #btnfarejar{
    border-radius:2px;
    font-size:1.4em;
    font-weight:bold;
    text-align: center;
    background-color: #008CBA;
    border: 2px solid #008CBA;
    margin: 4px 2px;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding:8px;
    height:50px;
}
#btnfarejar:active {
   box-shadow: 0 8px;
   transform: translateY(13px);
}
#btnfarejar:hover{
    color:black;
    transform:rotatey(11deg);
    transition-duration:0.4s;
    background-color: white;
    border: 2px solid #008CBA;
}

/* pag. contato */
#bfarejar{
    border-radius:2px;
    font-size:1.3em;
    font-weight:bold;
    background-color: #87bdd8;
    border: 2px solid #87bdd8;
    color:white;
    display: inline-block;
    cursor: pointer;
    padding:10px;
    width:280px;
    height:50px;
}
#bfarejar:active {
   box-shadow: 0 8px ;
   transform: translateY(13px);
}
#bfarejar:hover{
    background-color: white;
    color:black;
    transform:rotatey(8deg);
    transition-duration:0.4s;
    border: 2px solid #87bdd8;
}

/* Utilizado nos botoes de login: header e pag. login */
#btlogin{
    border-radius:2px;
    font-weight:bold;
    background-color:black;/*opacity:0.9;filter:alpha(opacity=50); */
    border:2px solid black;
    color:white;
    display: inline-block;
    cursor: pointer;
    font-size:1.3em;
    width:95px;
    padding: 10px 10px;
}
#btlogin:active {
    box-shadow: 0 8px;
   transform: translateY(13px);
}
#btlogin:hover{
  background-color: aliceblue;
  color: black;
  transform:rotatey(8deg);
  transition-duration:0.4s;
}
/* nas pags de pretendente classe dos botoes latida e etc */



/* Botao facebook */
#face{
    border-radius:3px;
    color: black;
    font-weight:bold;
    text-decoration: none;
    background-color:lightblue;
    font-size:1.3em;
    padding: 4px;
}
#face:hover{
    color: #6495ed;
}

/* botao pesquisar da pag. Galeria*/
#scad{
  border-radius:2px;
  font-size:1.3em;
  font-weight:bold;
  background-color: #2e69a3;
  border: 1px solid #2e69a3;
  color:white;
  display: inline-block;
  cursor: pointer;
  padding: 10px 10px;
  width:140px;
 }
#scad:hover{
  background-color: aliceblue;
  color:black;
  transform:rotatey(8deg);
  transition-duration:0.4s;
  border: 2px solid #87bdd8;
}
#scad:active {
 box-shadow: 0 8px ;
 transform: translateY(11px);
}
/* ----------------------------------- */

.btmsg{
   text-decoration:none;
   font-size:1.3em;
   background-color:black;
   border-radius:2px;
   color:white;
   font-weight:bold;
   padding:5px;
   height:50px;
}
.btmsg:hover{
  color: #FFC47C;
}
/* botao enviar na pag. pet */
.far{
    border-radius:2px;
    font-size:1.2em;
    font-weight:bold;
    background-color: white;
    border: 2px solid  #87CEFA;
    color: #87CEFA;
    display: inline-block;
    cursor: pointer;
    padding:9px;
    width:180px;
    height:50px;
}
.far:active{
    //box-shadow: 0 8px  #87CEFA;
    transform: translateY(13px);
}
.far:hover{
    background-color:  #87CEFA;
    color:white;
    border: 2px solid  #87CEFA;
    transform:rotatey(8deg);
    transition-duration:0.4s;
}
/* ------------------------------ */



/*pag mensagem.php , nos botoes login e cadastro na pag. pet*/
.btsMsgs{
    border-radius:2px;
    border: 2px solid #87CEFA;
    font-weight:bold;
    background-color: #87CEFA;
    color:white;
    display: inline-block;
    cursor: pointer;
    font-size:1.3em;
    padding:5px;
    height:40px;
    font-weight:bold;
}
.btsMsgs:active {
   box-shadow: 0 8px #87CEFA;
   transform: translateY(13px);
}
.btsMsgs:hover{
  color: #48D1CC;
  background-color: white;
  border: 2px solid #48D1CC;
  transform:rotatey(8deg);
  transition-duration:0.4s;
}

/* utilizado na pag. Pet para voltar a div com os botoes login e cadastro*/
.btSair{
    border-radius:2px;
    border: 1px solid #87CEEB;
    font-weight:bold;
    background-color:#87CEEB;
    color: black;
    display: inline-block;
    cursor: pointer;
    font-size:1.1em;
    padding: 2px;
    height: 20px;
    }
.btSair:active {
   box-shadow: 0 6px #FFC47C;
   transform: translateY(11px);
}
.btSair:hover{
  color: black;
  background-color: white;
  border: 1px solid #87CEEB;
  transform:rotatey(6deg);
  transition-duration:0.4s;
}

/* Utilizados pag do perfil excluir e alterar */

#btexcluir{
    border-radius:2px;
    border:2px solid #DC143C;
    font-size:1.1em;
    font-weight:bold;
    background-color: #DC143C;
    color:white;
    display: inline-block;
    cursor: pointer;
    padding:6px;
    margin: 4px 2px;
    min-width: 25%;
    height: 40px;
}

#btexcluir:active {
   box-shadow: 0 8px #FFC47C;
   transform: translateY(13px);
}
#btexcluir:hover{
    border:2px solid #DC143C;
    color:black;
    background-color: white;
    transform:rotatey(8deg);
    transition-duration:0.4s;
}

.btAlterar{
    border-radius:2px;
    border:2px solid #1E90FF;
    font-size:1.1em;
    font-weight:bold;
    background-color: #1E90FF;
    color:white;
    display: inline-block;
    cursor: pointer;
    padding:6px;
    margin: 4px 2px;
    min-width:25%;
    height: 40px;
}
.btAlterar:active {
   box-shadow: 0 8px #1E90FF;
   transform: translateY(13px);
}
.btAlterar:hover{
    border:2px solid #1E90FF;
    color:black;
    background-color: white;
    transform:rotatey(8deg);
    transition-duration:0.4s;
}
/* -------------------------- Fim botoes ------------------------------------ */

/* ----------------------Links-------------------------------------------------- */

/* utilizados nos links: ver mais pretendente , nao tenho cadastro, esqueci senha */
#cad{
  font-size: 1.0em;
  color: white;
  text-decoration: none;
}
#cad:hover{
  color: #FFC47C;
}

#senha{
  font-size: 1.3em;
  color: white;
  text-decoration: none;
}
#senha:hover{
  color: #FFC47C;
}

#link{
  font-size: 1.0em;
  color: black;
  text-decoration: none;
}
#link:hover{
  color: #FFC47C;
}

#linkPets{
  color: black;
  text-decoration: none;
}

#linkComum{
    color:black;
    text-decoration: none;
}
#linkComum:hover{
    color: #FFC47C;
}

.pet{
    color:#000080;
    text-decoration: none;
    font-size:1.2em;
}
.pet:hover{
    color: #FFC47C;
}
.cliques{
  color: #00BFFF;
  text-decoration: none;
  font-size:1.1em;
}
/* ---------------------------------- Fim links ---------------------------------- */

/* ----------------------- Paragrafos -------------------------------------------- */

/* Utilizado na pag. index */
p.index{
  font-size: 2.1em;
  line-height:120%;
  margin-left: 10.594512%; /* 139 /1312 */
  text-align: left;
  color:  #5482E1;
  margin-top: 3%;
}
/* utilizados em p de varias pags */
p.paragrafos{
  font-size:1.8em;
  color:black;
}
p.perg{ /* paragrafo pag. perguntas*/
  text-align:justify;
  padding-left:14.08450704%; /* 190 / 1349 */
  font-size:1.6em;
  color:black;
}

p.muitos{/* pag. quem somos no texto*/
  font-size:1.3em;
  color:black;
  line-height: 170%;
}

/* paragrafo e div da area pesquisar da pag. Galeria */
 .pesquisa{
   margin:auto;
   border:1px solid AliceBlue;
   max-width: 80%;
   background-color: AliceBlue; 
 }

/* ------------------- Fim Paragrafos ------------------------------- */

/* utilizado para nao redimensionar os texts areas */
 textarea { resize: none }
/*--------------------------------------*/ 

/* Table das infos do pretendente escolhido */ 
.tabPret{
 /* Border style */
    //border: 3px solid aliceblue;
    //-moz-border-radius: 2px;
    //-webkit-border-radius: 2px;
     //border-radius: 2px;
    padding: 7px;
}
table td{
   padding:2px;
}
/* --------------------------------------- */

/* utilizados na pag. de perguntas para esconder as respostas e na pag. perfil esconde oas campos */
#todas span{
   display:none;
}
#todas{
  line-height:180%;
}
.abrirResp{
   position:relative;
   top:0;
   text-decoration: none;
   color: black;
  }
.abrirResp:hover{
  top:-1px; box-shadow:0 2px 2px #A4D3EE;
  top:-1px; border-bottom:1px solid #A4D3EE;
  transition: all .2s ease-in-out;
}
/* -------------------------------------------------------- */

 /* utilizados na pag. de perfil para esconder os campos do form de dados  */
.abrirCampos{
   position:relative;
   top:0;
   text-decoration: none;
   color: black;
   padding: 10px 19px;
   font-size: 1.3em;
}
.abrirCampos:hover{
  color: #00BFFF;
}
/* ----------------------------------------------------------------------- */

/* linha na div esq da pag. perfil */
hr.line{
  border-color: #00BFFF;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
}
/* ---------------------------------*/
/* Conteudo dos forms */

textarea,select{
   width: 388px; 
   border: 1px solid #A4D3EE;
  -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   /* Box shadow */
   -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
    -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
    box-shadow: inset 0 1px 0 0 #A4D3EE;
    padding: 10px 19px;
    font-size:1.3em;
  }
  input[type=text],input[type=password],input[type=email]{
    /* Border style */ 
     border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 10px 19px;
     font-size:1.3em;
  }
  .inpDados{
    width: 388px;
  } 
  .inpsize{
   color:black;font-size:1.2em;width: 30%;
  }  
  
 /* utilizados nos selects da area de pesquisa da pag. Galeria*/
 .selpesquisa{
   width: 18.2%;
   font-size: 1.3em;
   padding: 10px 10px; 
  }

 /* inputs do form login*/
  
 /* -----------------------------------*/

 /* Para diminuir o header */
 .menuDim{
   width:100%;
   background-color: #6495ED;
   border-bottom:3px solid #B0E0E6;
    left: 0;
    right: 0;
    position: fixed ;
    top: 0;
    z-index: 99;
}
/* -----------------------------*/

/* ------- links --------------------------------------- */

 /* links do modal (exibe escolha de cadastro) na pag. header */

.li1Modal{
 background-color: #0000CD;
 border:1px solid #0000CD;
}
.li2Modal{
 background-color: #32CD32;
 border:1px solid #32CD32;
 }
 .linksModal ul li{ /* links do modal utilizados nao possuo cadastro do login */
 border-radius: 0;
 width: 40%;
 padding: 14px; 
 }
/* --------------------------------------------------- */

/* utilizado nas li na div troca Pet com os dados do pet */
.liInfoPet{
 background-color: #E0FFFF;
 border:1px solid #E0FFFF;
 width: 24%;
}
/* ----------------------------------------------------- */

/* -----------------fim dos links ------------------------- */

/* usado no modal do link nao possuo cadastro do login */
#boxes .window {
  float: right;
  width:280px;
  height:40px;
  display:none;
  margin-right: 0%;
}

#boxes #dialog {
  width: 280px; 
  height:40px;
}
/* --------------------------------------- */

/* ------------------------ Estilos utilizados por ultimo ------------------------------- */

.bordaPerfil{
   /* Border style */ 
     border: 2px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 2px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 2px 0 0 #A4D3EE;
     box-shadow: inset 0 2px 0 0 #A4D3EE;
}
.ad{
  float: right;
}
 p.eco{/*pag. perfil,nos p que exibem os dados do BD, CEP e E-mail */
  background-color:#ADD8E6;
  padding: 10px 17px;
  min-width: 80%; /* 310 530 / 600 */
  max-width: 92%;
  margin-left: 19px;
  font-size: 1.3em;
  color: blue;
 }
.espMargins{ /* margins das msgs recebidas na pag. mensagem*/
  margin-left: 5px; 
  margin-right: 5px;
}
.imgGaleria{ /* div com as fotos da galeria*/
 max-width: 100%;height: 410px;
 /*background-color: #d3d3d3;border: 1px solid gray;float: left; */
 background-color: white;
}
.divGaleria{ /* div com img e dados do pet na pag.galeria*/
  float: left;
}

.linksModal ul li{ /* links do modal utilizados nao não  possuo cadastro do login */
 border-radius: 0;
 width: 40%;
 padding: 14px; 
}
.noteMsg{ /* img utilizada na pag. de perfil na notificaco das msgs*/
  height: 25px;
  width: 30px;
}
.areaPet{/* textarea das msgs recebidas */
  min-width: 80%; 
  background-color: #E0FFFF;
  border: none;
  padding: 7px 19px;
  font-size:1.3em;
}
label.campos4{ /* pag. perfil, nas labels da msg */
  color:black;font-size: 1.3em;
}
label.campos5{ /* pag. perfil */
  color:#1E90FF;font-size: 1.2em;
}
.d{
  font-size: 1em;
}
.camposSpan{ /* span abrirCampos do perfil usuario pag. perfil*/
   margin-left: 19px;
}

.imgsMsgs{ /* imgs utilizadas na pag. de mensagem*/
  margin-left: 23px;
  border: 1px solid black;
  height: 85px;
  width: 80px;
}
.imgRemetente{ /* img remetente na pag. de mensagens */
   margin-left: 25px;
   float: left;
}
/* utilizados na pag. de perfil para esconder os campos do form de dados  */
.abrirMsgs{
   position:relative;
   top:0;
   text-decoration: none;
   color: black;
   padding: 10px 19px;
   font-size: 1.3em;
}
.abrirMsgs:hover{
  color: #00BFFF;
}
/* ----------------------------------------------------------------------- */

p.avisoUsuario{ /* aviso aos usuarios na div mensagens pag.perfil */
  background-color: aliceblue;
  color: black;
  font-size: 1.2em;
  min-width: 100%;
  line-height: 130%;
  padding-right: 0;
}
.usuario{ /* label com os nomes dos usuarios na div mensagens pag. perfil*/
  color: blue;
  padding-left: 2%;
  float: left;
  display:block;
  max-width: 32%;
  font-size: 1.1em;
  padding-top: 7%;
}

/* botao compartilhar na div adotado na pag. perfil/msg */
.compartilhar{
    border-radius:2px;
    font-size:1.2em;
    font-weight:bold;
    background-color: white;
    border: none;
    color: #1E90FF;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    height:20px;
}
.compartilhar:active{
    //box-shadow: 0 8px  #87CEFA;
    transform: translateY(13px);
}
.compartilhar:hover{
    color: #87CEFA;
    border: none;
    transform:rotatey(8deg);
    transition-duration:0.4s;
}
/* ------------------------------ */

hr.lineMsg{ /* linha usada para separar as msgs na pag. perfil / mensagem */
  width: 97%;
  border-color: #00BFFF;
}

.abasPets{ /* divs escondidas no perfil do pet pag. perfil/msg */
  float: left;
  display: none;
  min-width: 40%;
  padding-left: 5%;
}

.dadosPets{ /* inputs texts com os dados do editar pet pag. perfil */
  color: #708090;
  font-size: 1.1em;
  width: 388px;
}
.dadosPets1{ /* textarea do editar pet*/
  color: #708090;
}
.abasDivs{ /* abas das divs perfil e mensagem na pag. perfil/msg */
  padding-right: 0;
  min-width: 60%;
}

 /* utilizada na pag. de perfil para exibir os dados(nome e conteudo) das msgs recebidas  */
.infoMsgRec{
 float: right;
 min-width:80%
}
/* ----------------------------------------------------------------------- */

/* label com o nome do usario remetente da msg na pag. mensagem */
.usuarioRemt{
 //float: right;
 width:80%;
 padding: 0;
}
/* ----------------------------------------------------------------------- */
.campCadPet{ /* utilizados nos campos do cadastrar novo pet  na pag. de perfil*/
  width: 310px;
}

.imgsPet{ /* imgs utilizadas no cadastrar novo pet na pag. de perfil*/
  border: 1px solid black;
  height: 70px;
  width: 59px;
}
.imgsPetCad{ /* imgs do pet na pag. de cadastro*/
  border: 1px solid black;
  height: 95px;
  width: 74px;
}
.imgsPetEd{ /* imgs para editar  foto pet na pag. de perfil*/
  border: 1px solid #1E90FF;
  height: 53px;
  width: 39px;
}
.imgsPetEd2{ /* img maior para editar foto pet na pag. de perfil*/
  border:2px solid black; 
  height: 180px; 
  width: 165px;
}

/* utilizado nos links para trocar as divs de perfil e mensagem*/

.trocaDiv ul{
  padding-left: 0;
}
.trocaDiv ul li{
  border-radius: 25px 10px 2px 3px; 
  float:left;
  font-size: 1.2em;
  font-weight:bold;
  display: inline-block;
  cursor: pointer;
  padding: 3.333333% 10%; /* 20px 60px */
  height: 45px;
  width: 50%;
  list-style: none;
}
.trocaDiv ul li a{
  text-decoration: none;
  color: white;
}
.trocaDiv ul li a:hover{ 
  color: black;
}
/* --------------------------------------------------------------- */
 
.dLeft{ /* div esquerda do perfil usuario da pag. perfil */
  max-width: 30%;
  float:left;
}
#perfil, #mensagem{
 max-width: 55%; 
 padding-right: 0;
}

/* --------------------------------------------------------------- */
/*----------- estilos utilizados no header e footer ------------ */
.logoDef{ /* Div logo do header*/
  float:left;
  padding-left:4.6%;
}
.acessoDef{ /* Div acesso do login no header*/
  float:right;width:74.128984%;padding-right: 3%;
}
.pOla{ /* paragrafo de boas vindas ao usuario logado no header*/
  font-size:1.6em;color:white;font-weight:bold;
}
.linkOut{ /* link de logout no header*/
  text-decoration:none;font-size:1.3em;
}
.lNao{
  float:right;
}
.sAssinatura{ /* p com assinatura do site no footer*/
  font-size:1.4em;color:white;
}
/* ---------------------------------------------------------------*/

.dAcor{ /*utilizado na div acordo na pag. termos*/
  font-size:1.4em;margin:auto;line-height:180%
}
.imgCont{/*img do adsense na pag. contato*/
  border:1px solid black;
}
.imgPata{ /* img pata na pag. perguntas*/
  width: 18px;
  height: 15px;
}
.tdEst{ /* na div todas da pag.perguntas*/
  font-size:1.4em;padding-left: 11%;padding-right: 1%
}
.imgEq{ /*img equipe na pag. quem somos*/
  border:2px solid #B0E0E6;
}
.campCep{ /*campo CEP nas pags. cadastro e cadastro adotante*/
  color:blue;font-size:1.0em;text-decoration:none;
}
.campTermos{ /* link termos nas pags. cadastro e cadastro adotante*/
  color:blue;font-weight:bold;text-decoration:none;
}
.cor2{ /*label do file nos cadastros*/
  font-size:1.2em;
}
p.paragrafos2{ /*p de titulos de pags de cadastros*/
  font-size: 1.8em;
  color: #00BFFF;
}
p.paragrafos3{ /*p da div excluir pet de pags de perfil*/
  font-size: 1.5em;
  color: black;
}
.pCad{ /*p de titulo pag de cadastro*/
  font-size: 1.4em;
}
.pCont{  /*p de titulo pag de contato*/
  color:  #1E90FF;
  font-size: 1.8em;
}
.infoCont{ /*label de info na pag de contato*/
  font-size:1.0em;
}
.pTitulo{/*paragrafo titulo pag. galeria*/
  font-size: 1.8em;color: #4169E1;
}
.imgPetGal{/*img do pet na pag. galeria*/
  width:365px;max-height: 407px;
}
.tableGal{/*tabela com os dados do pet galeria*/
  max-width:100%;font-size:1.3em;
}
.verMais{/*campo ver mais da pag. galeria*/
  font-size:0.9em;color:#808080;  
}
.divHorizontal{ /*div utilizadas no inicio ou no fim de pags*/
  clear:both;width:97.25722758%;
}
.petSize{ /* imgs do pet na pag pet*/
  border:2px solid black; height: auto;
}
.pCap{ /* nome maiusculo na pag pet*/
  text-transform: capitalize;
}

 .lbDet{ /* label detalhes na pag. pet*/
  max-width:30%; wordwrap: break-word;
 }
 .trcLi1{ /* li1 da trocaDiv na pag. perfil*/ 
  background-color: #1E90FF;border:1px solid #1E90FF;
 }
 .trcLi2{  /* li2 da trocaDiv na pag. perfil*/ 
  background-color: #0000CD; border:1px solid #0000CD;
 }
 .contMsgs{ /* contagem das msgs na aba da pag. de perfil*/
  background-color: white;border-radius: 50%;border: 1px solid #0000CD;font-size: 1.1em;color: #0000CD;
 }
 .cor3{ /* cor placeholder no perfil*/
  color:#708090;
 }
 .tbEd{
  max-width: 100%;
 }
 .mens{ /* href do link da caixa de entrada pag. mensagem*/
  padding-left:20px;
 }
  /* utilizado nos slides das imgs na pag. pet*/
  .slide-wrapper {
    width: 2500px;
    -webkit-animation: slide 9s ease infinite;
  }
  .slide-wrapper:hover { 
    animation-play-state: paused;
  }
  .slide {
    float: left;
    width: 20%;   
  } 
  @-webkit-keyframes slide {
    10% {margin-left: 0px;}
    20% {margin-left: -500px;}
    30% {margin-left: -500px;}
    40% {margin-left: -1000px;}
    50% {margin-left: -1000px;}
    60% {margin-left: -1500px;}
    70% {margin-left: -1500px;}
    80% {margin-left: -2000px;}
    90% {margin-left: -2000px;}
  }
/* --------------------------------------------*/
/* ---------Para adaptar o site em diferentes telas e aplicar os estilos de CSS para cada uma ------------*/

/*table{display:block; width:auto; overflow-x: auto; white-space: nowrap;} COLOCAR NAS MEDIAS QUERIES*/
img, figure, video, picture {
  max-width: 100%;
}

*, *:before, *:after { /* com isso os elementos terão apenas a altura e a largura determinadas*/
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* adiciona espaco antes e depois dos elementos e evita a aglomeracao dos floats*/
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ---------------------------------------------------------------------------- */
 
/* ------------------------------Medias Queries -------------------------------------------------------*/
 /* media 1 */
 @media only screen and (min-width:1350px){
  .container{
     margin: auto;  
  } 
  p.index{
    margin-left: 15%;
    margin-top: 5%;
  }
  .divdoar{
    margin-top: 20%;
  }
  .forms{
    margin: auto;
  }
  .fotos1{ /* figure img pet na pag. pet*/
    margin-left: 1%;
    margin-right: 0;
    max-width: 80%;
  }   
 
}
/* media 2 */
@media only screen and (min-width: 1242px) and (max-width: 1300px)  {
    
  .ads{
    float: left;
    margin-top: 2.5%;
  }
  .ads2{
    float: right;
  }
  .divdoar{
    margin-top: 20%;
    padding-right: 15%; /*55 / 1312 */
    float: right;
  }
  .divhome{
    margin-top: 6%;
    float: left;
    padding-left: 15%;
  }
  p.eco{
    max-width: 100%;
  }
  .fotos1{ /* figure img pet na pag. pet*/
     max-width: 75%;
     margin-right: 0;
     margin-left:0;
  }
    
} 
@media only screen and (max-width: 1242px) and (min-width: 1149px)  {
  .ads{
    float: left;
    margin-top: 2.5%;
  }
  .ads2{
    float: right;
  }
  .divdoar{
    margin-top: 20%;
    padding-right: 15%; /*55 / 1312 */
    float: right;
  }
  .divhome{
    margin-top: 6%;
    float: left;
    padding-left: 15%;
  }
  .dLeft {
    min-width: 70%;
    margin-left: 8.5%;
  }
  #perfil, #mensagem{  /* div esquerda do perfil usuario da pag. perfil */
    min-width: 70%;
    float: left;
    margin-top: 8px;
    margin-left: 10%;
  }
  p.eco{
    max-width: 15%;
  }
  .fotos1{ /* figure img pet na pag. pet*/
     max-width: 70%;
     margin-right: 0;
     margin-left:0;
  }
  
} 
/* media 3 */
@media only screen and (min-width: 990px) and (max-width: 1150px)  {
   .conteudo{
    padding-left: 0%; 
   }
   .divesq{
    margin-left: 0%;
    max-width: 45%;
  }
  .divdir{
    max-width: 45%;
    margin-right: 0%;
    margin-left: 7%;
    float:left;
  }
  .divdir2{
    float: left;
    margin-left: 7%;
  }
  .divdoar{  /* div do botoes doar e adotar da p. index*/
    float: right;
    max-width:50%;
    padding-right: 15%;
    margin-top: 18%;
  }
  .divhome{
    padding-left: 15%;
    max-width: 50%;
  }
  .ads{
    float: left;
    margin-top: 2.7%;
  }
  .ads2{
    float: right;
  }
  .dLeft { /* div esquerda do perfil usuario da pag. perfil */
    min-width: 80%;
    margin-left: 8%;
  }
  p.eco{
    max-width: 10%;
  }
  /* utilizado na div que contem o perfil do pet na pag. perfil/mensagem*/
  #perfil, #mensagem{
    min-width: 80%;
    float:left;
    margin-top: 8px;
    margin-left: 8%;
  }
  .fotos1{ /* figure img pet na pag. pet*/
     max-width: 65%;
     margin-right: 0;
     margin-left:0;
  }
 }  

 /* media 4 */     
@media only screen and (min-width:780px) and (max-width: 990px) and (orientation:landscape) {
   .divdir2{
    float: left;
    margin-left: 27%;
   }
   .ads{
    float: left;
    margin-top: 3%;
   }
   .ads2{
    float: left;
   }
   .divesq {
    min-width: 80%; /*390/768*/
    margin-bottom: 2.4em;
    margin-right: 2%;
    margin-left: 15%;
    float:left;
    margin-top: 1%;
    }
   .divdir{
    min-width:80%;
    margin-right: 3%;
    margin-left: 50%;
    float:right;
   }
   /* figure utilizada na imagem da pag. contato*/ 
   .fotos{
     margin-left:0;
     margin-right: 180px;
    }
    .fotos1{ /* figure img pet na pag. pet*/
     max-width: 70%;
     margin-right: 0;
     margin-left:18%;
    }
   .divdoar{  /* div do botoes doar e adotar da p. index*/
     float: right;
     max-width:50%;
     padding-right: 6%;
     margin-top: 18%;
    }
    .divhome{
      padding-left: 7%;
      max-width: 50%;
    }
    .dLeft { /* div esquerda do perfil usuario da pag. perfil */
     min-width: 93%;
     margin-left: 3%;
    }
    
  /* utilizado na div que contem o perfil do pet na pag. perfil/mensagem*/
   #perfil, #mensagem{
    min-width: 93%;
    float:left;
    margin-top: 8px;
    margin-left: 3%;
   }
   .abasPet{/* div com as divs(dados,editar,excluir) do pet na pag.perfil*/
     padding-left: 0;
   }
    #btnfarejar{
    max-width:100%;
    }
    #btexcluir{
     max-width:100%; 
    }
    #bfarejar{
      min-width:70%;
    }  
    .pbotao{
      width:100%;
    }
    /* div form recuperar senha*/
    .forms{
      min-width:100%;
      margin:auto;
    }
    .recsenha{
      max-width:50%;
    }
    /* ----------------- */
    p.eco{
     width: 68%;
    }
    textarea,select{
    width: 70%; /* 800px / 1312px */
    border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 14px 19px;
     font-size:1.3em;
    }
    input[type=text],input[type=password],input[type=email]{
    /* Border style */
    width: 70%;
     border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 14px 19px;
     font-size:1.3em;
    }
    p.index{
    padding-left: 4.5%;
    color:  #5482E1;
    font-size: 1.8em;
    }
   
    /* utilizado no login header*/
   .logo{
    width:20%; /* 199/1200*/
    margin-top:2px;
    padding-left: 0;
   }
   .tabGal{
   float:left;
   }
   .acesso{
    width:40%;
    padding-top: 0;
   }
   #btlogin{
    width:16%;
    padding: 15px 18px;
    font-size: 1.1em;
   }
   #senha{
    font-size:1.1em;
    align:center;
   }
   p.llogin{
    float:right;
    min-width: 55%;
   }
   p.llogin2{
    min-width: 33%;
   }
   .inpsize{
    max-width:33%;
   }
   .divlogin{
    height:100px;
   }
    /* area  pesquisar da pag. Galeria*/
  .pesquisa{
    float: left;
    margin-left: 1%;
    min-width: 100%;
  }
  .selpesquisa{
    min-width: 18%;
    font-size: 1.2em;
    padding: 10px 10px;
    margin-top: 1%; 
  }
  #scad{
    min-width: 37%;
    margin-top: 3%;
    margin-left: 0;
    margin-right: 1%;
  }
  .divGaleria{ /*div com img e table do pet na pag. Galeria  */
    margin-left: 25%;
  }
}   
/* media 5 */
@media only screen and (min-width:720px) and (max-width:780px) {
  .divdir2{
    float: left;
    min-width: 100%;
    padding-left: 25%;
  }
   .ads{
    float: left;
   }
   .ads2{
    float: left;
   }
   .divesq {
    min-width: 80%; /*390/768*/
    margin-bottom: 2.4em;
    margin-right: 2%;
    margin-left: 13%;
    float:left;
    margin-top: 0.5%;
    }
   .divdir{
    min-width: 80%;
    margin-left: 13%;
    margin-right: 2%;
    float:left;
   }
    /* figure utilizada na imagem da pag. contato*/ 
    .fotos{
      margin-left:0;
      margin-right: 130px;
    } 
    .fotos1{ /* figure img pet na pag. pet*/
     max-width:75%;
     margin:0 0;
    } 
    .divdoar{  /* div do botoes doar e adotar da p. index*/
      float: right;
      max-width:50%;
      padding-right: 1%;
      margin-top: 18%;
    }
    .divhome{
      padding-left: 0%;
      max-width: 50%;
    }
    .dLeft { /* div esquerda do perfil usuario da pag. perfil */
     min-width: 100%;
    }
    
    /* utilizado na div que contem o perfil do pet na pag. perfil/mensagem*/
   #perfil, #mensagem{
    min-width: 100%;
    float:left;
    margin-top: 8px;
    margin-left: 0;
   }
   .dadosPets{ /* inputs texts com os dados do editar pet pag. perfil */
    min-width: 90%;
   }
   .dadosPets1{ /* inputs texts com os dados do editar pet pag. perfil */
    min-width: 90%;
   }
   .abasPets{
    max-width: 68%;
   }
   #btnfarejar{
    max-width: 50%;
    align:center;
   }
    #btexcluir{
     min-width:80%; 
    }
    #bfarejar{
      max-width:78%; 
    }  
    .pbotao{
      width:90%;
    }
    /* div form recuperar senha*/
    .forms{
      min-width:80%;
      margin:auto;
    }
    .recsenha{ /* input do form recuperar senha*/
      max-width:70%;
    }
    /* ------------------*/
    p.eco{
      width: 70%;
    }
    textarea,select{
    width: 75%; /* 800px / 1312px */
    border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 14px 19px;
     font-size:1.3em;
    }
    input[type=text],input[type=password],input[type=email]{
    /* Border style */
    width: 75%;
     border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 14px 19px;
     font-size:1.3em;
    }
    p.index{
     padding-left: 3%;
     color:  #5482E1;
     font-size: 1.7em;
     margin-top: 5%;
    }
   .logo{
    width:20%; /* 199/1200*/
    margin-top:2px;
    padding-left: 0;
   }
   .tabGal{
    padding-right: 50px;
   }
   .divGaleria{ /* div com img e dados do pet na pag.galeria*/
    float: right;
   }
   .acesso{
    width:40%;
    padding-top: 0;
   }
   #btlogin{
    width:17%;
    padding: 15px;
    font-size: 1.1em;
   }
   #senha{
    font-size:1.2em;
    align:center;
   }
   p.llogin{
    float:right;
    min-width:69%;
    text-align: left;
   }
   .inpsize{
    max-width:33%;
   }
   .divlogin{
    height:100px;
   }
   /* area  pesquisar da pag. Galeria*/
  .pesquisa{
    float: left;
    margin-left: 17.5%;
    min-width: 77%;
  }
  .selpesquisa{
    min-width:44%;
    font-size: 1.2em;
    padding: 10px 10px;
    margin-top: 1%; 
  }
  #scad{
    min-width: 90%;
    margin-top: 3%;
    margin-left: 0;
    margin-right: 1.5%;
  }

}

/* media 6 */
@media only screen and (min-width: 480px) and (max-width:720px) {
   .divdir2{
    float: left;
    min-width: 100%;
    padding-left: 19%;
   }
   .ads{
    float: left; 
   }
   .ads2{
    float: left;
   }
   .divesq {
     min-width: 90%; /*390/768*/
     margin-bottom: 1em;
     margin-left: 5%;
     float:left;
     margin-top: 1%;
   }
   .divdir{
     min-width: 90%;
     margin-left: 5%;
     margin-right: 2.8%;
     float:left;
    }
    .dLeft { /* div esquerda do perfil usuario da pag. perfil */
     min-width: 100%;
    }

    /* utilizado na div que contem o perfil do pet na pag. perfil/mensagem*/
   #perfil, #mensagem{
    min-width: 100%;
    float:left;
    margin-top: 8px;
    margin-left: 0;
   }
   .dadosPets{ /* inputs texts com os dados do editar pet pag. perfil */
    min-width: 90%;
   }
   .dadosPets1{ /* inputs texts com os dados do editar pet pag. perfil */
    min-width: 90%;
   }
   .abasPets{
    max-width: 65%;
   }
    /* figure utilizada na imagem da pag. contato*/ 
    .fotos{
      margin-left:0;
      margin-right: 100px;
    } 
    .fotos1{ /* figure img pet na pag. pet*/
     max-width:70%;
     margin:0 0;
    }
    .divdoar{  /* div do botoes doar e adotar da p. index*/
      float: right;
      max-width:50%;
      padding-right: 3%;
      margin-top: 18%;
    }
    .divhome{
      padding-left: 0%;
      max-width: 50%;
    }
    #btnfarejar{
     max-width:80%;
     min-width:50%;
    }
    #btexcluir{
     max-width:80%;
     min-width:50%;
    }
    #bfarejar{
      min-width:70%;
    } 
    .pbotao{
      min-width:90%;
    }
    /*  uso na pag. form recuperar senha*/
    .forms{
     min-width:80%;
     margin:auto;
    }
    .recsenha{ /* input do form recuperar senha*/
      max-width:80%;
    }
    /*-------------- */
    p.eco{
    width: 75%;
    }
    textarea,select{
    width: 80%; /* 800px / 1312px */
    border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 14px 19px;
     font-size:1.3em;
    }
    input[type=text],input[type=password],input[type=email]{
    /* Border style */
     width: 80%;
     border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 14px 19px;
     font-size:1.3em;
   }
    p.index{
     color:  #5482E1;
     font-size: 1.7em;
     margin-left: 3%;
     margin-top: 5%;
    }
    /* utilizado no login header*/
   .logo{
    width:20%; /* 199/1200*/
    margin-top:10px;
    padding-left: 0;
   }
   .acesso{
    width:40%;
    padding-top: 0;
   }
   #btlogin{
    width:17%;
    padding: 15px;
    font-size: 1.1em;
   }
   #senha{
    font-size:1.1em;
    align:center;
   }
   p.llogin{
    float:right;
    min-width:67%;
   }
   .inpsize{
    max-width:34%;
   }
   .divlogin{
    height:100px;
   }
   /* area  pesquisar da pag. Galeria*/
  .pesquisa{
    float: left;
    margin-left: 5%;
    min-width:96%;
  }
  .selpesquisa{
    min-width:44%;
    font-size: 1.2em;
    padding: 10px 10px;
    margin-top: 1%; 
  }
  #scad{
    min-width: 90%;
    margin-top: 3%;
    margin-left: 0;
    margin-right: 1.5%;
  }
  .divGaleria{ /*div com img e table do pet na pag. Galeria  */
    margin-left: 17%;
  }
}

/* media 7 */
@media screen and (max-width: 480px) , (orientation: portrait) {
   .divdir2{
    float: left;
    min-width: 100%;
    padding-left: 16%;
   }
   .ads{
    float: left;
   }
   .ads2{
    float: left;
   }
   .geral{
     height:auto;
   }
   .ad{
    float:left;
   }
   .divesq {
     min-width: 100%;
     //margin-right:2.22387%;
     margin-left: 0;
     margin-top: 1%;
    }
    .divdir{
     min-width: 100%;
     float:left;
     margin-right: 2.22387%;
     margin-left: 0;
     margin-top: 1.2%; /* 100px / 1312px */
    }
    .dLeft { /* div esquerda do perfil usuario da pag. perfil */
     min-width: 100%;
     font-size: 0.9em;
     height: auto;
    }
    /* utilizado na div que contem o perfil do pet na pag. perfil/mensagem*/
    #perfil, #mensagem{
     min-width: 100%;
     float:left;
     margin-top: 8px;
     margin-left: 0;
     font-size: 0.9em;
     padding-left: 0;
    }
   .dadosPets{ /* inputs texts com os dados do editar pet pag. perfil */
    min-width: 80%;
   }
   .dadosPets1{ /* inputs texts com os dados do editar pet pag. perfil */
    min-width: 80%;
   }
   .tam{ /* width dos campos de cadatrar novo pet*/
    width: 100%;
   }
   .abasPets{
    max-width: 100%;
    float:left;
   }
   /* utilizado nas li na div troca Pet com os dados do pet */
   .liInfoPet{
    min-width: 40%;
    padding-bottom: 3px;
    padding-top: 6px;
   }
   .trocaPet{
    max-width: 100%;
    height: 72px;
   }
   .trocaPet ul li{ 
    padding-left: 14px;
    font-size:1.2em;
    max-width: 25%;
   }
   .trocaDiv{
    min-width: 100%;
   }
   .trocaDiv ul li{
    border-radius: 25px 10px 2px 3px; 
    float:left;
    font-size: 1.1em;
    padding: 3.3% 5%; /* 20px 60px */
    height: 45px;
    width: 50%;  
   }
   .imgRemetente{ /* img remetente na pag. de mensagens */
    margin-left: 5px;
   }
   .imgsMsgs{ /* imgs utilizadas na pag. de mensagem*/
     margin-left: 5px;
   }
   .mens{ /* href do link da caixa de entrada pag. mensagem*/
     padding-left: 1px;
   }
   .divdoar{  /* div do botoes doar e adotar da p. index*/
     float: left;
     max-width: 80%;
     padding-left: 15%;
     padding-right: 1%;
     margin-top: 0%;
    }
    .divhome{
      padding-left: 15%;
      padding-right: 1%;
      max-width: 80%;
      margin-top: 20%;
    }
    #todas{ /* div perguntas*/
      float:left;
      min-width: 100%;
    }
    p.paragrafos{
      padding-left: 3%;
      margin-left:0%;
      text-align: justify;
      float:left;
    }
    p.perg{ /* paragrafo pag. perguntas */
     text-align:left;
     padding-left:0%;
     font-size:1.6em;
     color:black;
    }
    p.index{
     margin-top: 7%;
     margin-left: 0px;
     color:  #5482E1;
     font-size: 1.5em;
     max-width: 50%;
    }
    p.eco{
     max-width: 100%;
     padding-left: 1px;
     margin-left: 1px;
    }
    label.campos2{
      padding: 1px 1px;
      margin-left: 1px 1px;
    }
    .d{
      font-size: 0.83em;
    }
    .imgsPerfil{
     margin-left: 1px;
    }
    .camposSpan{ /* span abrirCampos do perfil usuario pag. perfil*/
     margin-left: 1px;
    }
    textarea,select{
    width: 100%; /* 800px / 1312px */
    border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 14px 19px;
     font-size:1.3em;
    }

    input[type=text],input[type=password],input[type=email]{
    /* Border style */
    width: 100%;
     border: 1px solid #A4D3EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
     /* Box shadow */
     -moz-box-shadow: inset 0 1px 0 0 #A4D3EE;
     -webkit-box-shadow: inset 0 1px 0 0 #A4D3EE;
     box-shadow: inset 0 1px 0 0 #A4D3EE;
     padding: 14px 19px;
     font-size:1.3em;
    }
   input[type=file]{
     width:90%;
     font-size:1.0em;
   }

   .forms{ /* div form recuperar senha*/
     min-width:100%;
     //float:left;
     margin: auto;
     padding-top: 20%;
   }
   /* figure utilizada na imagem da pag. contato*/ 
   .fotos{
     width:100%;
     margin:0;
   }
   .fotos1{ /* figure img pet na pag. pet*/
     max-width:100%;
     margin:0;
   }
   .far{ /* botoes cadastro e login da pag. pet*/ 
     min-width: 45%;
   }   
   #btnfarejar{
    width:100%;
   }
   #bfarejar{ /* botao da p. contato*/
    min-width:100%;
    max-width:100%;
   }
   .pbotao{ /* div para botao contato */
    min-width:100%;
    max-width:100%;
   }
   #adotar{
    max-width: 100%;
    height:50px;
    font-size: 1.4em;
   }
   #doar{
    max-width: 100%;
    height:50px;
    font-size:1.4em;
   }
   /* div para a pag dos termos */
   .acordo{
    min-width:100%;
    float:left;
    padding-left:10%;
    padding-right:5%;
    //border:1px solid red;
   }
   label.campos{
    padding:0 0;
   }
  /* label usada no outras informacoes cadastro  */
   label.info{
    font-size:1.0em;
    color:#808080;
    padding: 0px 0px;
   }
   footer nav ul li a{
    font-size: 1.6em;
    color: white;
    text-decoration: none;
   }
    /* utilizado no login header*/
   .logo{
    width:25%; /* 199/1200*/
    margin-top:16px;
    padding-left: 0;
   }
   .acesso{
    width:40%;
    padding-top: 0;
    padding-right: 0%;
   }
   #btlogin{
    max-width:21%;
    padding: 15px 4px;
    font-size: 0.9em;
   }
   #senha{
    font-size:1.25em;
   }
   p.llogin{
    float:left;
    min-width:100%;
    max-width:90%;
    text-align: center;
   }
   .inpsize{
    max-width:37%;
    font-size: 1.0em;
    padding: 0px 0px;
   }
   .divlogin{
    height:100px;
    width:100%;
   }
   #header{
    height:170px;
   }
   #headernav ul li{
    margin-right: 30px;
  }
   #headernav nav ul li a{
    font-size: 1.6em;
    color: white;
    text-decoration: none;
  }
 /* area  pesquisar da pag. Galeria*/
  .pesquisa{
    float: left;
    margin-left: 5%;
    min-width:96%; 
  }
  .selpesquisa{
    min-width:44%;
    font-size: 1.2em;
    padding: 10px 10px;
    margin-top: 1%; 
  }
  #scad{
    min-width: 90%;
    margin-top: 3%;
    margin-left: 0;
    margin-right: 1.5%;
  }
  .menuDim{
    font-size: 1.3em;
  }
  .divGaleria{ /*div com img e table do pet na pag. Galeria  */
    margin-left: 4%;
    float: left;
  }
 
}
